

img {
    width:100%;
    vertical-align: middle;
}


@font-face{
    font-family: ostrichSans;
    src:url(ostrich-sans-rounded.woff);
}
.teksts{
    margin-left: 20px;
}

p{
  
    font-family: ostrichSans;
    
    padding: 20px;
    font-size: 28px;  
    
}

.header{
    list-style-type: none;
    
    padding-top: 20px;
    
    
    float: left; 
    font-size: 28px; 
    font-family: ostrichSans;
}


ul {
 
}

li{
    
    display: inline;
    padding-left: 10px;
    /*padding: 20px;*/
      
 
}

ul a{
    color: black;
    margin-right: 20px;
}

ul a:hover{
    
    background-color: grey;
    
}


/* slaidshows & galerija*/
* {box-sizing: border-box}


.slideShowContainer{
    max-width: 1000px;
    position: relative;
    
    margin: auto;
    

}
.slides{
    display: none;
}

.next, .prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev{
    left:0;
}
.prev:hover, .next:hover{
    
    background-color: whitesmoke;
    color: grey;
}



.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    
    to {opacity: 1}
  }


  footer{
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    margin-top: 50px;
  }

  /* galerija*/
  .imageGallery{
      position: relative;
  }
  .images{
      display: none;
  }
  .cursor{
      cursor: pointer;
  }

  .numbertext{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .caption-image{
    text-align: center;
    background-color: whitesmoke;
    padding: 2px 16px;
    color: grey;
  }
  .row:after{
    content: "";
    display: table;
    clear: both;
  }
  .column{
    float: left;
    width: 16.66%;
  }

  .demo {
      opacity: 0.6;
  }
  .active,
.demo:hover {
  opacity: 1;
}

.imageGallery {
    width: 50%;
   
}

